#login .content {
    background: #009999;
    color: #ffffff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, .2);
    padding: 2em;
    margin-top: 2em;
    border-radius: 2em;
}

.data-input {
    text-align: left;
}

.entry {
    width: 99%;
    font-size: .9em;
    color: #f2f2f2;
    margin: 0.3em 0 1em 0;
    border: none;
    background: none;
    border-bottom: 3px solid #fff;
    padding: 0.5em 0.1em;
    transition: all 0.5s ease;
}

.entry:focus {
    outline: none;
    border-bottom: 3px solid #55f5f5;
}