.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width:90%;
}

.col {
    width: 100%;
    padding:2%;
}

.row {
    text-align: center;
    width: 90%;
    display: flex;
}

.half-column {
    width:50%;
    padding:2%;
}

@media screen and (max-width: 1150px) {
    .content {
        width: 95%;
    }
    
    .half-column {
        clear:both;
        width:100%;
        border: 0px;
    }
}

@media screen and (min-width: 1250px) {
    .content {
        width: 1125px;
    }
}

@media screen and (max-height: 950px) {
    .wrapper {
        height: 100%;
    }
}
