# Logs
*.log\

# Node module dependencies
node_modules/

# build output
/build

# Development environment files
.npm/
.npmrc
.pnpm-debug.log*
yarn-error.log

# Editor/IDE configuration
.vscode/
.idea/

# Git
.git/
.gitignore
